# Python
__pycache__/
*.pyc
.venv/
.env

# Node/General
node_modules/
dist/
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Helm/K8s
charts/*/charts/
charts/*/tmp/
*.tgz

# Misc
*.log
EOF

